@media only screen and (max-width: 768px) {/*小屏*/
  #w_common_text-1560761413611 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
}
  #c_portalResEbizads_banner-15607582135996671 .swiper-wrapper .swiper-slide img {
    width: 150vw;
    height: 100vh;
    left: 0;
    top: 0;
}
  
  #c_portalResEbizads_banner-15607582135996671 .text {
    position: absolute;
    top: 40%!important;
    left: 0;
    right: 0;
    max-width: 1000px;
    width: 100vw!important;
 margin: 0; 
    transform: translateY(-50%);
}
  .mapmo{display:block}
    .mappc{display:none}
  #w_grid-1560992130407 >div {
    animation-fill-mode: both;
    padding: 20px;
}
  #w_grid-1560998617706 {
    width: 100%;
    max-width: 1200px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 356px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 0px;
}
  #w_grid-1560763194777 {
    width: 100%;
    max-width: 1180px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}#w_grid-1560992130407 {
    width: 100%;
    max-width: 1200px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
#w_grid-1560758634792 {
    width: 100%;
    max-width: 1180px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 192px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}.w_grid-003 > div > .p_gridbox > .p_gridCell {
    width: 25%;
    margin-left: 0;
    margin-top: 0rem;
    margin-bottom: 0rem;
}#c_portalResNews_list-15607620844064274 {
    width: auto;
    max-width: none;
    min-width: 320px;
    height: auto;
    max-height: none;
    min-height: 270px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
  #w_grid-1560762044646 {
    width: 100%;
    max-width: 1180px;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
  #w_common_text-1560761374728 {
    width: auto;
    max-width: none;
    min-width: 0px;
    height: auto;
    max-height: none;
    min-height: 0px;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
  #content_box-1560761074432-0{display:none}

#w_grid-1560758823510 > div > .p_gridbox > .p_gridCell:nth-child(3n+1) {
    margin-left: 0px;
    clear: right!important;
}
#w_grid-1560758099816 {
 
    z-index: 9999999999999;

}
#w_fimg-1560758099825 {

  margin-left: 20px;}
  #content_box-1560758099816-0{width:80%; float:left;}
  #content_box-1560758099816-1{width:20%; float:left;}
#content_box-1555029541908-0{width:80%; float:left;}
  #content_box-1555029541908-1{width:20%; float:left;}
#w_grid-1560758099816 > div > .p_gridbox > .p_gridCell:nth-child(n+1) {
    margin-left: 0px;
    clear: right!important;
}
#w_grid-1555029541908 > div > .p_gridbox > .p_gridCell:nth-child(n+1) {
    margin-left: 0px;
    clear: right!important;
}
  
  
  
  #w_grid-1560998617706{
  width:100%;
  max-width:1200px;
  min-width:0px;
  height:auto;
  max-height:none;
  min-height:356px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  padding-top:0px;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom:0px;
}
  
  
}
@media only screen and (min-width: 769px){/*大屏*/  .mapmo{display:none}
    .mappc{display:block}
  }