.c_portalResProduct_category-01001 .p_categoryBox .p_parentBox .p_linkBox:hover {
    background: #333;
}

@media only screen and (max-width:768px) {
    #c_portalResProduct_category-15609996085529457 {
        float: left;
        margin-top: 30px!important;
    }
    .c_portalResProduct_category-01001 {
        height: auto;
        width: 280px;
        overflow: visible;
    }
    .e_FlowCommonStyleBox-001 .stylebox_top {
        display: none;
    }
    .e_FlowCommonStyleBox-001 .stylebox_content {
        border-width: 0;
    }
    .c_portalResProduct_category-01001 .e_ContentOrdinaryStyleBox-001 .stylebox_title {
        width: 100%;
    }
    .c_portalResProduct_category-01001 .p_categoryBox {
        line-height: 24px;
    }
    .c_portalResProduct_category-01001 .p_btn-show {
        display: inline-block;
        /* width: 100vw; */
    }
    .c_portalResProduct_category-01001 .p_title {
        font-size: 16px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #fff;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        width: 100%;
    }
    .btn-primary {
        color: #fff;
        background-color: #333 !important;
        border-color: #333 !important;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_title {
        height: auto;
        width: auto;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_parentBox {
        background: #FFFFFF;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_parentBox .p_linkBox {
        background: #EFEFF4;
        width: 100%;
        border-bottom: 1px solid #d5d5d6;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 0;
        color: rgba(101, 190, 186, 1);
        height: auto;
        width: 14px;
        margin: 0 4px 0 0;
        padding: 0;
        position: static;
        text-align: center;
        font-size: 14px;
        color: rgba(217, 217, 217, 1);
    }
    .c_portalResProduct_category-01001 .p_categoryBtn:active {
        border-width: 0;
        border-style: solid;
        color: rgba(101, 190, 186, 1);
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_childBox {
        padding-left: 20px
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        position: relative;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .slideOut {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_image {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .c_portalResProduct_category-01001 .p_image>img {
        width: 100%;
        height: 100%;
    }
    .c_portalResProduct_category-01001 .p_num .iconfont:before {
        content: ''
    }
    .c_portalResProduct_category-01001 .p_num {
        color: #ccc;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_num {
        color: #333;
    }
    .c_portalResProduct_category-01001 .p_childBox {
        background: #efeff4;
    }
    .c_portalResProduct_category-01001 .p_parentBox {
        background: #fff;
        color: #000;
    }
    .c_portalResProduct_category-01001 {
        height: auto;
        width: 280px;
        margin-bottom: 20px !important;
        overflow: visible;
    }
    .c_portalResProduct_category-01001 .e_ContentOrdinaryStyleBox-001 .stylebox_title {
        width: 100%;
    }
    /*p_category*/
    .c_portalResProduct_category-01001 .p_categoryBox {
        line-height: 24px;
        background: #fff;
    }
    .c_portalResProduct_category-01001 .p_title {
        font-size: 16px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #fff;
        height: 50px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_title {
        height: auto;
        width: auto;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 0;
        color: rgba(101, 190, 186, 1);
        height: auto;
        width: 14px;
        margin: 0 4px 0 0;
        padding: 0;
        position: static;
        text-align: center;
        font-size: 14px;
        color: rgba(217, 217, 217, 1);
    }
    .c_portalResProduct_category-01001 .p_categoryBtn:active {
        border-width: 0;
        border-style: solid;
        color: rgba(101, 190, 186, 1);
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_up:before {
        content: '\e69a';
        color: #7B7B7E;
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_down:before {
        content: '\e69c';
        color: #7B7B7E;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_childBox {
        padding-left: 20px;
        width: 100%;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        position: relative;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .slideOut {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_image {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .c_portalResProduct_category-01001 .p_image>img {
        width: 100%;
        height: 100%;
    }
    .c_portalResProduct_category-01001 .p_num .iconfont:before {
        content: ''
    }
    .c_portalResProduct_category-01001 .p_num {
        color: #ccc;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_num {
        color: #333;
    }
    .c_portalResProduct_category-01001 .p_childBox {
        background: #efeff4;
    }
    .c_portalResProduct_category-01001 .p_parentBox {
        background: #fff;
        color: #000;
    }
    .c_portalResProduct_category-01001 .p_btn-show .p_c-fff {
        color: #fff;
    }
    .c_portalResProduct_category-01001 .p_btn-show .p_c-fff {
        margin: 0 0 0 10px;
        vertical-align: middle;
        width: auto;
        float: right;
        line-height: 50px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox {
        overflow-y: auto;
        height: 100%;
        float: left;
    }
}

@media only screen and (min-width:769px) and (max-width: 1024px) {
    .c_portalResProduct_category-01001 {
        height: auto;
        width: 280px;
        overflow: visible;
    }
    .c_portalResProduct_category-01001 .e_ContentOrdinaryStyleBox-001 .stylebox_title {
        width: 100%;
    }
    /*p_category*/
    .c_portalResProduct_category-01001 .p_category {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .c_portalResProduct_category-01001 .p_categoryBox {
        line-height: 24px;
    }
    .c_portalResProduct_category-01001 .p_btn-show {
        display: none;
    }
    .e_title .p_title {
        font-size: 16px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #fff;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_title {
        height: auto;
        width: auto;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 0;
        color: rgba(101, 190, 186, 1);
        height: auto;
        width: 14px;
        margin: 0 4px 0 0;
        padding: 0;
        position: static;
        text-align: center;
        font-size: 14px;
        color: rgba(217, 217, 217, 1);
    }
    .c_portalResProduct_category-01001 .p_childBox .p_parentBox {
        width: 100%;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn:active {
        border-width: 0;
        border-style: solid;
        color: rgba(101, 190, 186, 1);
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_up:before {
        content: '\e6c9';
        color: #7B7B7E;
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_down:before {
        content: '\e6c8';
        color: #7B7B7E;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_childBox {
        padding-left: 20px
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        position: relative;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .slideOut {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_image {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .c_portalResProduct_category-01001 .p_image>img {
        width: 100%;
        height: 100%;
    }
    .c_portalResProduct_category-01001 .p_num .iconfont:before {
        content: ''
    }
    .c_portalResProduct_category-01001 .p_num {
        color: #ccc;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_num {
        color: #333;
    }
    .c_portalResProduct_category-01001 .p_btn-hide {
        width: 10%;
        height: 100%;
        /*float: left;*/
        display: none;
    }
    .c_portalResProduct_category-01001 .p_parentBox {
        background: #fff;
        color: #000;
    }
    .c_portalResProduct_category-01001 {
        height: auto;
        width: 280px;
        overflow: visible;
    }
    .c_portalResProduct_category-01001 .e_ContentOrdinaryStyleBox-001 .stylebox_title {
        width: 100%;
    }
    /*p_category*/
    .c_portalResProduct_category-01001 .p_category {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .c_portalResProduct_category-01001 .p_categoryBox {
        line-height: 24px;
    }
    .e_title .p_title {
        font-size: 16px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #fff;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_title {
        height: auto;
        width: auto;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 0;
        color: rgba(101, 190, 186, 1);
        height: auto;
        width: 14px;
        margin: 0 4px 0 0;
        padding: 0;
        position: static;
        text-align: center;
        font-size: 14px;
        color: rgba(217, 217, 217, 1);
    }
    .c_portalResProduct_category-01001 .p_categoryBtn:active {
        border-width: 0;
        border-style: solid;
        color: rgba(101, 190, 186, 1);
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .c_portalResProduct_category-01001 .p_linkBox .iconfont:before {
        /*content: '\e669';*/
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_up:before {
        content: '\e6c9';
        /*color: rgba(101, 190, 186, 1);*/
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_down:before {
        content: '\e6c8';
        /*color: rgba(101, 190, 186, 1);*/
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_childBox {
        padding-left: 20px
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        position: relative;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .slideOut {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_image {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .c_portalResProduct_category-01001 .p_image>img {
        width: 100%;
        height: 100%;
    }
    .c_portalResProduct_category-01001 .p_num .iconfont:before {
        content: ''
    }
    .c_portalResProduct_category-01001 .p_num {
        color: #ccc;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_num {
        color: #333;
    }
    .c_portalResProduct_category-01001 .p_parentBox {
        background: #fff;
        color: #000;
    }
}

@media only screen and (min-width:1024px) {
    .c_portalResProduct_category-01001 {
        height: auto;
        width: 280px;
        overflow: visible;
    }
    .c_portalResProduct_category-01001 .e_ContentOrdinaryStyleBox-001 .stylebox_title {
        width: 100%;
    }
    /*p_category*/
    .c_portalResProduct_category-01001 .p_category {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .c_portalResProduct_category-01001 .p_categoryBox {
        line-height: 24px;
    }
    .e_title .p_title {
        font-size: 16px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        text-align: center;
        border-bottom: 1px solid #fff;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_title {
        height: auto;
        width: auto;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 0;
        color: rgba(101, 190, 186, 1);
        height: auto;
        width: 14px;
        margin: 0 4px 0 0;
        padding: 0;
        position: static;
        text-align: center;
        font-size: 14px;
        color: rgba(217, 217, 217, 1);
    }
    .c_portalResProduct_category-01001 .p_categoryBtn:active {
        border-width: 0;
        border-style: solid;
        color: rgba(101, 190, 186, 1);
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_up:before {
        content: '\e6c9';
        color: #7B7B7E;
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_down:before {
        content: '\e6c8';
        color: #7B7B7E;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_childBox {
        padding-left: 20px
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        position: relative;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .slideOut {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_image {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .c_portalResProduct_category-01001 .p_image>img {
        width: 100%;
        height: 100%;
    }
    .c_portalResProduct_category-01001 .p_num .iconfont:before {
        content: ''
    }
    .c_portalResProduct_category-01001 .p_num {
        color: #ccc;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_num {
        color: #333;
    }
    .c_portalResProduct_category-01001 .p_parentBox {
        background: #fff;
        color: #000;
    }
    .c_portalResProduct_category-01001 {
        height: auto;
        width: 280px;
        overflow: visible;
    }
    .c_portalResProduct_category-01001 .e_ContentOrdinaryStyleBox-001 .stylebox_title {
        width: 100%;
    }
    /*p_category*/
    .c_portalResProduct_category-01001 .p_category {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .c_portalResProduct_category-01001 .p_categoryBox {
        line-height: 24px;
    }
    .c_portalResProduct_category-01001 .p_btn-show {
        display: none;
    }
    .c_portalResProduct_category-01001 .p_title {
        font-size: 16px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        /* padding: 5px 10px; */
        text-align: center;
        COLOR: #FFF;
        BACKGROUND: #888888;
        border-bottom: 1px solid #fff;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_linkBox:hover {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        /* padding: 5px 10px; */
        text-align: center;
        COLOR: #FFF;
        BACKGROUND: #888888;
        border-bottom: 1px solid #fff;
    }
    .c_portalResProduct_category-01001 .p_image a {
        color: #FFF!important;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_title {
        height: auto;
        width: auto;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        /* width: !important; */
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        text-align: center;
        box-flex: 1;
        color: #fff;
        font-size: 14px;
        margin: 0 auto;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        align-items: center;
    }
    .c_portalResProduct_category-01001 .p_categoryBtn {
        display: inline-block;
        vertical-align: middle;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        border-style: solid;
        border-width: 0;
        color: rgba(101, 190, 186, 1);
        height: auto;
        width: 14px;
        margin: 0 4px 0 0;
        padding: 0;
        position: static;
        text-align: center;
        font-size: 14px;
        color: rgba(217, 217, 217, 1);
    }
    .c_portalResProduct_category-01001 .p_categoryBtn:active {
        border-width: 0;
        border-style: solid;
        color: rgba(101, 190, 186, 1);
        border-color: rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .c_portalResProduct_category-01001 .p_linkBox .c {
        content: '\e6c9';
        /*color: rgba(101, 190, 186, 1);*/
    }
    .c_portalResProduct_category-01001 .p_linkBox .icon-arrow_down:before {
        content: '\e6c8';
        /*color: rgba(101, 190, 186, 1);*/
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_childBox {
        padding-left: 20px
    }
    .c_portalResProduct_category-01001 .p_categoryBox .p_parentBox {
        position: relative;
        height: auto;
        width: 130px;
        float: left;
        padding: 10px;
        margin: 0 0px;
    }
    .c_portalResProduct_category-01001 .p_categoryBox .slideOut {
        position: absolute;
        left: 100%;
        top: 0;
        width: 100%;
        height: auto;
    }
    .c_portalResProduct_category-01001 .p_image {
        width: 0px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        display: none;
        margin-right: 5px;
    }
    .c_portalResProduct_category-01001 .p_image>img {
        width: 100%;
        height: 100%;
        display: none;
    }
    .c_portalResProduct_category-01001 .p_num .iconfont:before {
        content: ''
    }
    .c_portalResProduct_category-01001 .p_num {
        color: #ccc;
    }
    .c_portalResProduct_category-01001 .p_childBox .p_num {
        color: #333;
    }
    .c_portalResProduct_category-01001 .p_btn-hide {
        width: 10%;
        height: 100%;
        /*float: left;*/
        background-color: #7F7F7F;
        display: none;
    }
    .c_portalResProduct_category-01001 .p_parentBox {
        background: #fff;
        color: #000;
    }
}